parameters:
	ignoreErrors:
		-
			message: "#^Cannot cast array\\<int, string\\>\\|bool\\|int\\|string to string\\.$#"
			count: 1
			path: src/lib/Composer/ScriptHandler.php

		-
			message: "#^Parameter \\#1 \\$targetDir of method Ibexa\\\\BundleGenerator\\\\Generator\\\\BundleGeneratorConfiguration\\:\\:setTargetDir\\(\\) expects string\\|null, string\\|false given\\.$#"
			count: 1
			path: src/lib/Composer/ScriptHandler.php

		-
			message: "#^Parameter \\#1 \\$path of function basename expects string, string\\|false given\\.$#"
			count: 1
			path: src/lib/Generator/BundleGenerator.php

		-
			message: "#^Parameter \\#1 \\$str of function strtr expects string, string\\|false given\\.$#"
			count: 1
			path: src/lib/Generator/BundleGenerator.php

		-
			message: "#^Parameter \\#1 \\$targetDir of method Ibexa\\\\BundleGenerator\\\\Generator\\\\BundleGenerator\\:\\:createSkeletonIterator\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/lib/Generator/BundleGenerator.php

		-
			message: "#^Parameter \\#2 \\$targetDir of method Symfony\\\\Component\\\\Filesystem\\\\Filesystem\\:\\:mirror\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/lib/Generator/BundleGenerator.php

