parameters:
	ignoreErrors:
		-
			message: "#^Method Ibexa\\\\BundleGenerator\\\\Composer\\\\ScriptHandler\\:\\:askForBundleName\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/lib/Composer/ScriptHandler.php

		-
			message: "#^Method Ibexa\\\\BundleGenerator\\\\Composer\\\\ScriptHandler\\:\\:askForPackageName\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/lib/Composer/ScriptHandler.php

		-
			message: "#^Method Ibexa\\\\BundleGenerator\\\\Composer\\\\ScriptHandler\\:\\:askForSkeletonName\\(\\) should return string but returns array\\<string\\>\\|bool\\|int\\|string\\.$#"
			count: 1
			path: src/lib/Composer/ScriptHandler.php

		-
			message: "#^Method Ibexa\\\\BundleGenerator\\\\Composer\\\\ScriptHandler\\:\\:askForVendorName\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/lib/Composer/ScriptHandler.php

		-
			message: "#^Method Ibexa\\\\BundleGenerator\\\\Composer\\\\ScriptHandler\\:\\:askForVendorNamespace\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/lib/Composer/ScriptHandler.php

		-
			message: "#^Parameter \\#1 \\$targetDir of method Ibexa\\\\BundleGenerator\\\\Generator\\\\BundleGeneratorConfiguration\\:\\:setTargetDir\\(\\) expects string\\|null, string\\|false given\\.$#"
			count: 1
			path: src/lib/Composer/ScriptHandler.php

		-
			message: "#^Parameter \\#1 \\$path of function basename expects string, string\\|false given\\.$#"
			count: 1
			path: src/lib/Generator/BundleGenerator.php

		-
			message: "#^Parameter \\#1 \\$str of function strtr expects string, string\\|false given\\.$#"
			count: 1
			path: src/lib/Generator/BundleGenerator.php

		-
			message: "#^Parameter \\#1 \\$targetDir of method Ibexa\\\\BundleGenerator\\\\Generator\\\\BundleGenerator\\:\\:createSkeletonIterator\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/lib/Generator/BundleGenerator.php

		-
			message: "#^Parameter \\#2 \\$targetDir of method Symfony\\\\Component\\\\Filesystem\\\\Filesystem\\:\\:mirror\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/lib/Generator/BundleGenerator.php

